<div class="calendar__header">
    <h2 class="calendar__header__title">{{month-full-name model.month}}, {{model.year}}</h2>
  
    <nav class="calendar__header__nav">
        <button {{action "week" model.timestamp }}>Week</button>
        <button {{action "prevMonth" model.timestamp }}>&#x2770;</button> 
        <button {{action "today"}}>Today</button>
        <button {{action "nextMonth" model.timestamp }}>&#x2771;</button>
    </nav>
</div>

{{calendar-days timestamp=model.timestamp totalDaysToShow=42 openPopup=(action 'openPopupHandler') }} 
  {{calendar-days-day as |totalDaysToShow|}}
{{outlet}}